# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/


# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
Printizaard_temp/
**.pdf
**.docx

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store